src/main/mule/temperature-alert-service.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="temperature-alert-service-config" api="resource::32729b0b-faab-4dda-96a1-41081e1e7c92:temperature-alert-service:1.0.0:raml:zip:temperature-alert-service.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="temperature-alert-service-main">
        <http:listener config-ref="listenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="temperature-alert-service-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="temperature-alert-service-console">
        <http:listener config-ref="listenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="temperature-alert-service-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\client\(clientId):temperature-alert-service-config" doc:id="4067bf74-9369-4afc-b884-704a48610e1c">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="clientId"><![CDATA[attributes.uriParams.clientId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="32621fa1-eefd-4667-9708-31da6cc540bc" name="delete-user-flow"/>
    </flow>
    <flow name="patch:\client\(clientId):application\json:temperature-alert-service-config" doc:id="45a02142-6622-4735-9ff6-8f2e9c101dda">
        <ee:transform doc:name="Transform Message" doc:id="89d91e9d-74d3-44a7-9764-b77c3849c25a">
            <ee:message >
				<ee:set-payload resource="client_info.dwl" />
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="clientId"><![CDATA[attributes.uriParams.clientId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="0e42bcb6-dbda-49e3-9afa-a8b38b682933" name="validate-info-flow"/>
		<flow-ref doc:name="Flow Reference" doc:id="6cfb52f9-52e2-47bd-b202-2ce74ef11965" name="update-info-flow"/>
		<error-handler ref="global-handler" />
    </flow>
    <flow name="get:\health:temperature-alert-service-config">
		<flow-ref doc:name="Flow Reference" doc:id="35939602-fab8-4643-8310-a530b2c33770" name="health-flow"/>
    </flow>
    <flow name="get:\readiness:temperature-alert-service-config">
		<flow-ref doc:name="Flow Reference" doc:id="f15f3ef1-c773-44cc-923f-e44efaca27f6" name="readiness-flow"/>
    </flow>
    <flow name="get:\temperature-check:temperature-alert-service-config">
        <scheduler doc:name="Scheduler" doc:id="4a85515d-3423-466c-9eb7-82a72afcd8f9" >
			<scheduling-strategy >
				<fixed-frequency frequency="3" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="8669b33d-0c6e-4e5b-a044-f40a6f8d68bb" name="retrieve-sensor-data"/>
    </flow>
    <flow name="post:\subscribe:application\json:temperature-alert-service-config">
		<ee:transform doc:name="Transform Message" doc:id="a5909803-1768-47e1-90d1-cab1e6738933" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	email: (payload.email default "") as String,
	phone: (payload.phone default "") as String,
	slack: (payload.slack default "") as String,
	method: (payload.preferred_method default "email") as String,
	threshold: (payload.temperature_threshold default 64) 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="8404f0a4-26f7-4974-8085-73e5e1c4c39f" name="validate-info-flow"/>
		<flow-ref doc:name="Flow Reference" doc:id="9e315a70-fc99-4632-b7f7-2024fd142edc" name="store-details-flow"/>
		<error-handler ref="global-handler" />
    </flow>
</mule>
